<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/built.min.js"></script>
    <title>{% block pageTitle %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Menu1</li>
            <li>Menu2</li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>