<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="js/built.min.js"></script>
    <title>{% block pageTitle %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/worker/"><li>Listing</li></a>
            <a href="/worker/search"><li>Recherche</li></a>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>