<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Error 404</title>
        <style>
            @font-face {font-family: "VT323"; src: url('VT323-Regular.ttf');}
            * {font-family: 'VT323';}
            body {background-color: #292929; display: flex; align-items: center; flex-direction: column; height: 100vh; margin: 0; padding: 0;}
            h1   {color: #4686e6; margin: 120px 0; font-size: 4rem;}
            p    {color: #4c708d; font-size: 2rem;}
            img  {margin-bottom: 60px;}
        </style>
    </head>
    <body>
        <h1>Error 404</h1>
        <img src="./bluepotato.png" alt="">
        <p>We found 404 potatoes, but not the one you need, sorry...</p>
    </body>
</html>